DOCTYPE
html
  head
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8")
    title TaskTerminator
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.layouts.css")
    link(href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700italic', rel='stylesheet', type='text/css')

    link(rel="stylesheet" href="style.css")

  body(ng-app="terminatorApp")
  
    ui-view

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-animate.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-aria.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.js" charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js" charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js" charset="utf-8")
    script(src="scripts/highcharts.js" charset="utf-8")
    script(src="scripts/highcharts-ng.js" charset="utf-8")
    script(src="scripts/standalone-framework.js" charset="utf-8")
    

    script(src="app.js" charset="utf-8")

    script(src="controllers/DashboardCtrl.js" charset="utf-8")
    script(src="controllers/HomeCtrl.js" charset="utf-8")
    script(src="controllers/YourTeamCtrl.js" charset="utf-8")
    script(src="controllers/ProjectsCtrl.js" charset="utf-8")
    script(src="controllers/ActivityCtrl.js" charset="utf-8")
    script(src="controllers/TemplatesCtrl.js" charset="utf-8")

    script(src="services/DashboardSvc.js" charset="utf-8")
    script(src="services/HomeSvc.js" charset="utf-8")
    script(src="services/YourTeamSvc.js" charset="utf-8")
    script(src="services/ProjectsSvc.js" charset="utf-8")
    script(src="services/SearchSvc.js" charset="utf-8")
    script(src="services/TemplatesSvc.js" charset="utf-8")
    script(src="services/CompanySvc.js" charset="utf-8")
    script(src="services/DepartmentSvc.js" charset="utf-8")
    script(src="services/PositionSvc.js" charset="utf-8")
    
    
    script(src="directives/menuDirective.js" charset="utf-8")
    script(src="directives/sidebar.js" charset="utf-8")
    script(src="directives/header.js" charset="utf-8")
