color1 = rgb(117,117,113)
color2 = #6ABED8
color3 = #F0F0F0
color4 = #80ABA0
color5 = #181712
color1 = #E8F1F2
color2 = #1b98E0
color3 = #247BA0
color4 = #006494
color5 = #13293D

primary-header-bg-color = #edeff1
primary-bg-color = #D4D6D7
primary-header-color = #4E6071

  /* BASE STYLES
============================================================================= */

html, body {
    background-color: primary-bg-color
    padding-bottom: 20px
}

#wrapper {
    width: 100%
}

#page-wrapper {
    padding: 0 15px
    background-color: color5
}

.page-wrapper .row{
  background-color: color3
}

.container, .container-fluid
  width: 100%

.btn {
  margin:5px;
}


.navbar-brand
  font-family: 'Lobster Two', cursive;
  color: primary-header-color;
  font-size: 24px;

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px
  padding-right: 15px
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0
  margin-bottom: 0
  line-height: 40px
  padding-bottom: 19px
}

.pageTitle {
  text-align: center;
}

.projectButtons {
  text-align: center;
}
#side-menu {
  height: 900px
  background-color: color5
}

.dashboard-projects
  height: 350px
  overflow-y: scroll
  border: 1px black solid

.dashboard-projects ul li
  list-style-type: none
  border-bottom: 1px black solid


.dashboard-projects ul
  padding: 0

.dashboard-projects hr
  color: black

.dashboard-cards .panel
  border: 1px #a0a0a0 solid
  -webkit-box-shadow: 2px 2px 5px 0px rgba(135,135,135,1)
  -moz-box-shadow: 2px 2px 5px 0px rgba(135,135,135,1)
  box-shadow: 2px 2px 5px 0px rgba(135,135,135,1)

.dashboard-cards .panel .panel-body
  border-radius: 5px 5px 0 0
  background-color: color1

.dashboard-cards .panel .panel-body .row
  background-color: color1

.dashboard-cards .panel .panel-footer
  border-radius: 0 0 5px 5px
  background-color: lightgray

.singleProject
  margin-top: 10px

.dueDate
  border: 1.5px black solid
  width: 33%
  margin: 0 auto

.employeeAddForm
  padding: 40px

.employeeList
  height: 350px
  overflow-y: scroll
  border: .5px black solid
  padding-top: 20px

h1
  color: color5

h2
  color: color5

h3
  color: color5

.cardIcon
  font-size: 70px

.pointer-cursor
  cursor: pointer

.user-dropdown li a
  color: color3

.user-dropdown:hover
  background-color: color1

.dropdown > .dropdown-menu
  background-color: color1

ul p.navbar-text
  color: color3

.navbar
  background-color: primary-header-bg-color

.navbar-text a
  color: primary-header-color

.taskForm
  padding-top: 20px

.taskBox
  border: 1px black solid
  height: 253px


.viewTaskBox
  margin-top: 20px
  border: 1px black solid

.tasksInBox
  border: 1px solid black
  list-style-type: none

.saveTask
  margin: 10px 0

.blueButton
  padding-left: 0
  background-color: color2
  border-color: color2
  border-radius: 15px
  padding-left: 12px
  color: color3

.modalPage
  background-color: rgb(200, 200, 200)
  border-radius: 5px

input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  background-color: rgb(200, 200, 200)
  border-bottom: solid 2px rgb(91, 91, 91)


}
input[type="text"]:focus {
  outline: none;
}

.style-4 input[type="text"] {
  padding: 10px
  border: none
  border-bottom: solid 2px rgb(91, 91, 91)
  transition: border 0.3s
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696
}

.modal-bottom
  margin: 20px 0

  /* Sidebar Styling
  ============================================================================= */

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0
    padding-left: 0
}

// header > .navbar > div.collapse
//   background-color: color2 !important


.sidebar {
  background: color5
}

.sidebar ul li {
    border-bottom: 1px color3 solid
    padding-left: 15px
    background-color: color4
}

.sidebar ul li a:hover {
  background-color: rgb(141, 141, 141)
}

.sidebar ul li a:visited {
    background-color: rgb(141, 141, 141)
}

.positionList
  height: 350px
  overflow-y: scroll


.row .col-sm-12 div.panel
  background-color: color4

.project-thing ul li
  border: 1px color1 solid
  padding: 5px


#side-menu li
  padding: 0


  /* Animation STYLES
============================================================================= */
.page
	bottom:50
	position:absolute
	top:50
	width:100%

/* ANIMATIONS
============================================================================= */

.page.ng-leave
  z-index:9999
.page.ng-enter
  z-index:8888

/* page specific animations ------------------------ */

/* Dashboard ------------------------ */
.page-dashboard.ng-leave
  -webkit-animation:slideOutLeft 0.4s both ease-in
	-moz-animation:slideOutLeft 0.4s both ease-in
	animation:slideOutLeft 0.4s both ease-in

.page-dashboard.ng-enter
  -webkit-animation:slideInRight 0.4s both ease-in
	-moz-animation:slideInRight 0.4s both ease-in
	animation:slideInRight 0.4s both ease-in

/* Projects ------------------------ */
.page-projects.ng-leave
  -webkit-animation:slideOutLeft 0.4s both ease-in
	-moz-animation:slideOutLeft 0.4s both ease-in
	animation:slideOutLeft 0.4s both ease-in

.page-projects.ng-enter
  -webkit-animation:slideInRight 0.4s both ease-in
	-moz-animation:slideInRight 0.4s both ease-in
	animation:slideInRight 0.4s both ease-in

/* Your Team ------------------------ */
.page-yourTeam.ng-leave
  -webkit-animation:slideOutLeft 0.4s both ease-in
	-moz-animation:slideOutLeft 0.4s both ease-in
	animation:slideOutLeft 0.4s both ease-in

.page-yourTeam.ng-enter
  -webkit-animation:slideInRight 0.4s both ease-in
	-moz-animation:slideInRight 0.4s both ease-in
	animation:slideInRight 0.4s both ease-in


/* slide in from the right */
@keyframes slideInRight
	from{
    transform:translateX(100%)
  }
	to{
    transform: translateX(0)
  }


@-moz-keyframes slideInRight
  	from{
      -moz-transform:translateX(100%)
    }
  	to{
       -moz-transform: translateX(0)
    }

@-webkit-keyframes slideInRight
  	from{
      -webkit-transform:translateX(100%)
    }
  	to{
       -webkit-transform: translateX(0)
    }


/* slide out to the left */
@keyframes slideOutLeft
	to{
     transform: translateX(-100%)
  }

@-moz-keyframes slideOutLeft
	to{
     -moz-transform: translateX(-100%)
  }

@-webkit-keyframes slideOutLeft
	to{
     -webkit-transform: translateX(-100%)
  }


.glheader, .glform, .glCenter {
  text-align: center;
}
