body
  background-color: #eeeaea

.frame-border
  border 1px black solid

.topmenu
  padding-top 20px

.hamburger
  font-size 30px

.mnbtn
  width: 250px

.box-wrapper
  height: 200px
  width: 200px
  border: 1px black solid
  margin: 15px
  background-color: rgba(107, 135, 168, 1)

.box-wrapper:hover
  background-color: rgba(107, 135, 168, 0.7)

.project-thing
  height: 170px
  width: 165px;
  margin: 15 auto
  background-color: rgba(74, 201, 98, 1)

.project-thing:hover
  background-color: rgba(74, 201, 98, 0.5)

.dashboard-projects
  height: 350px
  overflow-y: scroll
  border: 1px black solid

.dashboard-projects ul li
  list-style-type: none
  border-bottom: 1px black solid


.dashboard-projects ul
  padding: 0

.dashboard-projects hr
  color: black

.singleProject
  margin-top: 10px

.dueDate
  border: 1.5px black solid
  width: 33%
  margin: 0 auto

.employeeAddForm
  padding: 40px

.employeeList
  height: 350px
  overflow-y: scroll
  border: .5px black solid
  padding-top: 20px


  /* BASE STYLES
============================================================================= */
html
  overflow-y:hidden
.page
	bottom:50
	position:absolute
	top:50
	width:100%

/* ANIMATIONS
============================================================================= */

.page.ng-leave
  z-index:9999
.page.ng-enter
  z-index:8888

/* page specific animations ------------------------ */

/* Dashboard ------------------------ */
.page-dashboard.ng-leave
  -webkit-animation:slideOutLeft 0.4s both ease-in
	-moz-animation:slideOutLeft 0.4s both ease-in
	animation:slideOutLeft 0.4s both ease-in

.page-dashboard.ng-enter
  -webkit-animation:slideInRight 0.4s both ease-in
	-moz-animation:slideInRight 0.4s both ease-in
	animation:slideInRight 0.4s both ease-in

/* Projects ------------------------ */
.page-projects.ng-leave
  -webkit-animation:slideOutLeft 0.4s both ease-in
	-moz-animation:slideOutLeft 0.4s both ease-in
	animation:slideOutLeft 0.4s both ease-in

.page-projects.ng-enter
  -webkit-animation:slideInRight 0.4s both ease-in
	-moz-animation:slideInRight 0.4s both ease-in
	animation:slideInRight 0.4s both ease-in

/* Your Team ------------------------ */
.page-yourTeam.ng-leave
  -webkit-animation:slideOutLeft 0.4s both ease-in
	-moz-animation:slideOutLeft 0.4s both ease-in
	animation:slideOutLeft 0.4s both ease-in

.page-yourTeam.ng-enter
  -webkit-animation:slideInRight 0.4s both ease-in
	-moz-animation:slideInRight 0.4s both ease-in
	animation:slideInRight 0.4s both ease-in


/* slide in from the right */
@keyframes slideInRight
	from{
    transform:translateX(100%)
  }
	to{
    transform: translateX(0)
  }


@-moz-keyframes slideInRight
  	from{
      -moz-transform:translateX(100%)
    }
  	to{
       -moz-transform: translateX(0)
    }

@-webkit-keyframes slideInRight
  	from{
      -webkit-transform:translateX(100%)
    }
  	to{
       -webkit-transform: translateX(0)
    }


/* slide out to the left */
@keyframes slideOutLeft
	to{
     transform: translateX(-100%)
  }

@-moz-keyframes slideOutLeft
	to{
     -moz-transform: translateX(-100%)
  }

@-webkit-keyframes slideOutLeft
	to{
     -webkit-transform: translateX(-100%)
  }
