h1(style="padding-left:15px; padding-top: 15px;") Activity
hr
.container
  .row.text-center(style="padding-top: 20px;")
    .col-md-12
      .panel.panel-default
        .panel-heading
          h4 Projects Completed
        .panel-body
          .row
          .col-md-10.col-sm-10.col-lg-6
            highchart#gciPerMonth(config='projectsPerWeek')
          .col-md-10.col-sm-10.col-lg-6
            highchart#chart1(config='projectsPerMonth')
  .row.text-center(style="padding-top: 20px;")
    .col-md-12
      .panel.panel-default
        .panel-heading
          h4 Tasks Completed
        .panel-body
          .row
          .col-md-10.col-sm-10.col-lg-6
            highchart#gciPerMonth(config='tasksPerWeek')
          .col-md-10.col-sm-10.col-lg-6
            highchart#chart1(config='tasksPerMonth')
  .row.text-center(style="padding-top: 20px;")
    .col-md-12
      .panel.panel-default
        .panel-heading
          h4 Overdue Tasks
        .panel-body
          .row
          .col-md-10.col-sm-10.col-lg-6
            highchart#gciPerMonth(config='overdueTasksPerWeek')
          .col-md-10.col-sm-10.col-lg-6
            highchart#chart1(config='overdueTasksPerMonth')
