.activateTemplate.container-fluid(style="margin:0 auto;")
  .row
    .col-md-4
      h3 Template Name:
      h4 Description:
      h4 Due Date:
    .col-md-8
      h3 {{template.name}}
      h4 {{template.description}}
      ng-form(name='nestedForm')
        .form-group
          input.modalInput(type="text" uib-datepicker-popup="{{format}}" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="singleProject.actualDate" ng-class="{true:'focus',false:'blur'}[isFocused3]", ng-focus='isFocused3=true', ng-blur='isFocused3=false')
          span(ng-show='isFocused3')
            b Enter using mm/dd/yy format
          br

.panel.panel-default(style="margin:0 25px;")
  .panel-body
    table.table
      thead 
        tr
          th(id="th-one" style="padding-left:40px;")
            | Task Name
          th(id="th-two" style="padding=0;")
            | Description
          th(id="th-three" class="text-right" style="padding-right:18px;padding-left:0;")
            | Due Date
    .list-group
        a.list-group-item(ng-repeat="temp in template.tasks")
          .row
            .col-xs-4
              | {{temp.name}}
            
            .col-xs-6(style="padding:0;")
              | {{temp.description}}
            
            .col-xs-2.text-center(style="padding:0")
              | {{temp.date.deadline}}
              
.container-fluid
  .row
    .col-md-12.text-right
      button.btn.blueButton.modal-bottom
        | Activate Project
              
