div(ng-repeat="company in companies")
  h1.text-center
    | Add employee form for {{company.name}}
  div.employeeAddForm
    form 
      .form-group
        label(for="EmployeeFirstNameField")
          | First Name:  
        input.form-control(type="text" ng-model="newEmployee.identification.name.firstName" id="EmployeeFirstNameField")
      .form-group
        label(for="EmployeeLastNameField")
          | Last Name:  
        input.form-control(type="text" ng-model="newEmployee.identification.name.lastName" id="EmployeeLastNameField")
      .form-group
        label(for="EmployeeUsernameField")
          | Username:  
        input.form-control(type="text" ng-model="newEmployee.identification.userName" id="EmployeeUsernameField")
      .form-group
        label(for="EmployeeEmailField")
          | Email:  
        input.form-control(type="email" ng-model="newEmployee.identification.email" id="EmployeeEmailField")
      .form-group
        label(for="permissionsField")
          | Admin:  
        select.form-control(ng-model="newEmployee.permissions.admin" id="permissionsField")
          option(value="true")
            | Yes
          option(value="false")
            | No
      .form-group
        label(for="DepartmentsField")
          | Department: 
        select.form-control(ng-model="newEmployee.departments" id="EmployeeDepartmentField" ng-options="department._id as department.name for department in company.departments")
          //- option(ng-repeat="department in company.departments")
          //-   | {{department.name}} 
      .form-group
        label(for="PositionsField")
          | Position:
        select.form-control(ng-model="newEmployee.positions" id="EmployeePositionField")
          option(ng-repeat="position in company.positions")
            | {{position.name}}  
      button.btn.btn-primary.btn-lg(ng-click="addEmployee(newEmployee)") Submit

