h1.text-center
  | Add New Department Form
div.employeeAddForm
  form
    .form-group
      label(for="departmentName")
        | Department Name:  
      input.form-control(type="text" ng-model="newDepartment.name" id="departmentName")
      button.btn.btn-primary.btn-lg(ng-click="addDepartment(newDepartment)") Submit
