h1 Company Details
hr
div(ng-repeat="company in companies")
  div
    h3 Company name: {{company.name}}
  div
    h3 Departments: 
      ul
        li(ng-repeat='department in company.departments')
          
  div
    h3 Positions:
      ul
        li(ng-repeat='position in company.positions')
  div
    h3 Employees: 
      ul
        li(ng-repeat='employee in company.employees')
  
