h1.text-center
  | Edit Position Form
div.employeeAddForm
  form
    .form-group
      label(for="PositionName")
        | Position Name:  
      input.form-control(type="text" ng-model="position.name" id="PositionName")
    .form-group
      label(for="departmentName")
        | Department Name:
      input.form-control(type="text" ng-model="position.department.name" id="departmentName")
    .list-group.employeeList(style="margin-bottom:15px;")
      h3 Employees:
      a.list-group-item(ng-repeat='employee in positionEmployees')
        .row
          .col-xs-4
            | {{employee.identification.name.fullName}}
    button.btn.btn-primary(ng-click="cancel()") Close
