h1.text-center
  | Edit Department Form
div.employeeAddForm
  form
    .form-group
      label(for="departmentName")
        | Department Name:  
      input.form-control(type="text" ng-model="department.name" id="departmentName" style="margin-bottom:15px;")
      button.btn.btn-primary(ng-click="cancel()") Close
