nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
  .navbar-header.container-fluid
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="dashboard.home" style="font-family: 'Lobster Two', cursive; color: #F0F0F0") 
        | <i>TaskTerminator</i>
  
