nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
  .navbar-header.container-fluid
    h3(ui-sref="dashboard.home")
      | Task Terminator
  //- .collapse.navbar-collapse
  //-   ul.nav.navbar-nav
  //-     li.dropdown
  //-       a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
  //-         | Dropdown 
  //-         span.caret
  //-       ul.dropdown-menu
  //-         li
  //-           a(href='#') Action
  //-         li
  //-           a(href='#') Another action
  //-         li
  //-           a(href='#') Something else here
  //-         li.divider(role='separator')
  //-         li
  //-           a(href='#') Separated link
  //-         li.divider(role='separator')
  //-         li
  //-           a(href='#') One more separated link
