h1(style="padding-left:15px; padding-top: 15px;")
  | Dashboard
hr
.container
  .row.dashboard-cards
    .col-sm-3
      .panel
        .panel-body(style='background-color: pink;')
          .row
            .col-sm-6
              span.glyphicon.glyphicon-remove.cardIcon(aria-hidden="true" style="color: red;")
            .col-sm-6.text-center
              p 0
              p Overdue Tasks
        .panel-footer 
          | Overdue Tasks
          span.glyphicon.glyphicon-share.pull-right(aria-hidden="true" style="color:red;")
    .col-sm-3
      .panel
        .panel-body(style='background-color: lightgreen;')
          .row
            .col-sm-4
              span.glyphicon.glyphicon-duplicate.cardIcon(aria-hidden="true" style="color:green;")
            .col-sm-8.text-center
              p {{projects.length}}
              p Current Projects
        .panel-footer(ui-sref="dashboard.view-projects")
          | Current Projects
          span.glyphicon.glyphicon-share.pull-right(aria-hidden="true" style="color:green;")

    .col-sm-3
      .panel
        .panel-body(style='background-color: lightblue;')
          .row
            .col-sm-6
              span.glyphicon.glyphicon-signal.cardIcon(aria-hidden="true" style="color: blue;")
            .col-sm-6
              | Check your activity!
        .panel-footer 
          | Activity
          span.glyphicon.glyphicon-share.pull-right(aria-hidden="true" style="color:blue;")
    .col-sm-3
      .panel
        .panel-body(style='background-color: yellow;')
          .row
            .col-sm-6
              span.glyphicon.glyphicon-user.cardIcon(aria-hidden="true" style="color: orange;")
            .col-sm-6
              | Manage your team
        .panel-footer 
          | Something about employees?
          span.glyphicon.glyphicon-share.pull-right(aria-hidden="true" style="color:orange;")

.row.dash-chart
  .col-sm-12
    .panel.panel-default
      .panel-heading
        h4 Activity Snapshot
      .panel-body
        .row
        .col-sm-10.col-sm-10.col-lg-6
          highchart#gciPerMonth(config='projectsPerWeek')
        .col-sm-10.col-sm-10.col-lg-6
          highchart#chart1(config='projectsPerMonth')
