h1(style="padding-left:15px; padding-top: 15px;")
  | Dashboard
hr
.container-fluid(style="padding: 15px 50px")
  .row.dashboard-cards
    .col-sm-3
      .panel
        .panel-body
          .row
            .col-sm-4
              span.glyphicon.glyphicon-remove.cardIcon(aria-hidden="true" style="color: red;")
            .col-sm-8.text-center(style="font-size:14px;")
              p 5
              p Overdue Tasks
        .panel-footer 
          | Overdue Tasks
          span.glyphicon.glyphicon-share.pull-right.pointer-cursor(aria-hidden="true")
          div
            span.pull-right(uib-tooltip='{{overdueTaskTip}}', tooltip-is-open='tooltipIsOpen', tooltip-placement='bottom')
    .col-sm-3
      .panel
        .panel-body
          .row
            .col-sm-4
              span.glyphicon.glyphicon-duplicate.cardIcon(aria-hidden="true" style="color:green;")
            .col-sm-8.text-center
              p {{projects.length}}
              p Current Projects
        .panel-footer
          | Current Projects
          span.glyphicon.glyphicon-share.pull-right.pointer-cursor(ui-sref="dashboard.view-projects" aria-hidden="true")
          div
            span.pull-right(uib-tooltip='{{currentProjectTip}}', tooltip-is-open='tooltipIsOpen', tooltip-placement='bottom')

    .col-sm-3
      .panel
        .panel-body
          .row
            .col-sm-6
              span.glyphicon.glyphicon-signal.cardIcon(aria-hidden="true" style="color: blue;")
            .col-sm-6
              | Check your activity!
        .panel-footer 
          | Activity
          span.glyphicon.glyphicon-share.pull-right.pointer-cursor(ui-sref="dashboard.activity" aria-hidden="true")
          div
            span.pull-right(uib-tooltip='{{activityTip}}', tooltip-is-open='tooltipIsOpen', tooltip-placement='bottom')
    .col-sm-3
      .panel
        .panel-body
          .row
            .col-sm-6
              span.glyphicon.glyphicon-user.cardIcon(aria-hidden="true" style="color: orange;")
            .col-sm-6
              | Manage your team
        .panel-footer 
          | Company Details
          span.glyphicon.glyphicon-share.pull-right.pointer-cursor(ui-sref="dashboard.view-employees" aria-hidden="true")
          div
            span.pull-right(uib-tooltip='{{companyDetailsTip}}', tooltip-is-open='tooltipIsOpen', tooltip-placement='bottom')

.container-fluid(style="padding: 15px 50px")
  .row.dash-chart
    .col-sm-12
      .panel.panel-default
        .panel-heading
          h4 Activity Snapshot
          span(uib-tooltip='{{activitySnapshotTop}}', tooltip-is-open='tooltipIsOpen', tooltip-placement='right-bottom')
        .panel-body
          .row
          .col-sm-10.col-sm-10.col-lg-6
            highchart#gciPerMonth(config='projectsPerWeek')
          .col-sm-10.col-sm-10.col-lg-6
            highchart#chart1(config='projectsPerMonth')
