
pre {{newSingleProject}}
.container-fluid.glCenter
	h1 One Time Project - Specific Date
	form(name='newSingleProjectForm')
			.form-group
				label Project Name: 
					input(type='text', ng-model='newSingleProject.name')
			.form-group
				label Description:
					input(type='text', ng-model='newSingleProject.description' )

			.form-group
				label Due Date:  
					input.modalInput(type="text" uib-datepicker-popup="{{format}}" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="newSingleProject.setup.dueDate.actual" ng-class="{true:'focus',false:'blur'}[isFocused3]", ng-focus='isFocused3=true', ng-blur='isFocused3=false')
					span(ng-show='isFocused3')
					span.input-group-btn
					button.btn.btn-default(type="button" ng-click="open2()")
						i.glyphicon.glyphicon-calendar
					br

			button.btn.btn-lg.btn-success(type="button" ng-click="addSingleProject(newSingleProject)") Add Tasks
