| {{test}}
pre {{newSingleProject}}
h1 New Single Project
	ng-form(name='newSingleProjectForm')
		.form-group
			label(for="addProjectField")
				| Project Name: 
				input(type='text', ng-model='newSingleProject.name', ng-class="{true:'focus',false:'blur'}[isFocused]", ng-focus='isFocused=true', ng-blur='isFocused=false')
				span(ng-show='isFocused')

		.form-group
			label(for="descriptionField")
				| Description:
				input(type='text', ng-model='newSingleProject.description', ng-class="{true:'focus',false:'blur'}[isFocused2]", ng-focus='isFocused2=true', ng-blur='isFocused2=false')
				span(ng-show='isFocused2')

		.form-group
			label(for="actualDateField")
				| Due Date:  
				input.modalInput(type="text" uib-datepicker-popup="{{format}}" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="singleProject.actualDate" ng-class="{true:'focus',false:'blur'}[isFocused3]", ng-focus='isFocused3=true', ng-blur='isFocused3=false')
				span(ng-show='isFocused3')
				span.input-group-btn
				button.btn.btn-default(type="button" ng-click="open2()")
					i.glyphicon.glyphicon-calendar
				br

		button.btn.blueButton(type="button" ui-sref="projectView") Continue to add Tasks to Project
