pre
  {{test}}
  {{template}}
container.glCenter
  h4
    span.label.label-primary Template - {{template.setup.type === "Scheduled" ? "Recurring": "Triggered"}}
  hr
  h1 {{template.name}} 
  h4 {{template.description}}
