div.container-fluid.glCenter
  h4
    span.label.label-danger Template - {{template.setup.type === "Scheduled" ? "Recurring": "Triggered"}}
  hr
  h1 {{template.name}} 
  h4 {{template.description}}
  p(ng-show="template.setup.type==='Scheduled'") This project is due {{friendlyInterval}} on {{friendlyFreq}}
  div(style="padding: 15px 50px")
    .row
      .col-sm-12.text-right(style="padding-bottom: 20px;")
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            h3.panel-title 
              | Tasks 
          .panel-body
            .row
              .col-sm-12
                table.table
                  thead
                    tr
                      th
                        | Task Name
                      th
                        | Task description
                      th
                        | Task Assignment            
            .row
              div.departmentList(style="padding-top:0;")    
                .list-group
                  .list-group-item(ng-repeat='task in tasks')
                    .row
                      .col-xs-4.text-center
                        | {{task.name}}
                      .col-xs-4.text-center
                        | {{task.description}}
                      .col-xs-3.col-sm-offset-1.text-center
                        | {{task.assignment.departments.name}} {{task.assignment.positions.name}} {{task.assignment.employees.name}}
  div.text-center
    button.btn.btn-lg.btn-primary(ng-click="showForm = !showForm") Add Task
    button.btn.btn-lg.btn-success(ng-click="startProject()") Start Project
  hr
form.glCenter(id="addTasksForm" ng-show="showForm")
  div.form-group
  div.space
    label Task Name 
  div.space  
    input(ng-model="newTask.name")
  div.space
    label Task Description
  div.space 
    input(ng-model="newTask.description")
  div.space 
    label Who is this assigned to?
  div.space   
    select(ng-model="stephensWrong" ng-options="choice for choice in choices")
  div.space(ng-show="stephensWrong==='Specific Department'")
    label Which Department?
    div
      select(ng-model="newTask.assignment.departments" ng-options="departments._id as departments.name for departments in departmentsArr" id="valField")
  div.space(ng-show="stephensWrong==='Specific Position'")
    label Which Position?
    div  
      select(ng-model="newTask.assignment.positions" ng-options="positions._id as positions.name for positions in positionsArr" id="valField")
  div.space(ng-show="stephensWrong==='Specific Person'" )
    label Which Person?
    div
      select(ng-model="newTask.assignment.employees" ng-options="employees._id as employees.name for employees in employeesArr" id="valField")
  div.space 
    button.btn.blueButton.saveTask(type="button" ng-click="saveTask(newTask)" style="margin-bottom:10px") Save Task
