.container
  .row
    .col-md-4
      button.btn.btn-default(type="button" ng-click="openSingleModal()") Single Instance Project
    .col-md-4
      button.btn.btn-default(type="button" ng-click="openScheduleModal()") Scheduled Project
    .col-md-4
      button.btn.btn-default(type="button" ng-click="openTemplateModal()") Create Template
  .row
    .col-sm-12
      hr(color: black;)
  .row
    .col-md-4
      .box-wrapper(style="margin: 25px auto;" ng-click="openModal2()")
        .project-thing
    .col-md-4
      .box-wrapper(style="margin: 25px auto;" ng-click="openModal2()")
        .project-thing
    .col-md-4
      .box-wrapper(style="margin: 25px auto;" ng-click="openModal2()")
        .project-thing        
  
