div.container
  form.tab-form-demo(name='outerForm')
    uib-tabset
      uib-tab(heading='Happens Once')
        ng-form(name='nestedForm')
        .form-group
          label(for="addProjectField")
            | Project Name: 
          input.form-control(type="text" ng-model="name" id="addProjectField")
        .form-group
          label(for="descriptionField")
            | Description:
          input.form-control(type="text")
        .form-group
          label(for="startField")
            | Start Date:
            p.input-group
              input.form-control(type="text" uib-datepicker-popup="{{format}}" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="startDate")
              span.input-group-btn
                button.btn.btn-default(type="button" ng-click="open1()")
                  i.glyphicon.glyphicon-calendar
        .form-group
          label(for="actualDateField")
            | Due Date:  
            p.input-group
              input.form-control(type="text" uib-datepicker-popup="{{format}}" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="actualDate")
              span.input-group-btn
                button.btn.btn-default(type="button" ng-click="open2()")
                  i.glyphicon.glyphicon-calendar
        button.btn.btn-success(type="button" ng-click="saveProject()") Create and Add Tasks

      uib-tab(heading='Happens More Than Once')
        ng-form(name='nestedForm')
        .form-group
          label(for="addProjectField")
            | Project Name: 
          input.form-control(type="text" ng-model="name" id="addProjectField")
        .form-group
          label(for="descriptionField")
            | Description:
          input.form-control(type="text")
        button.btn.btn-success(type="button" ng-click="saveProject()") Create Template

      uib-tab(heading='Happens On A Set Schedule')
        ng-form(name='nestedForm')
        .form-group
          label(for="addProjectField")
            | Project Name: 
          input.form-control(type="text" ng-model="name" id="addProjectField")
        .form-group
          label(for="descriptionField")
            | Description:
          input.form-control(type="text")
        button.btn.btn-success(type="button" ng-click="saveProject()") Create Template
