h1(style="padding-left:15px; padding-top: 15px;") Projects
hr
.container
  .row.text-center(style="padding-top: 20px;")
    .col-sm-12.text-right
      button.btn.btn-lg.btn-primary(type="button" ng-click="openSingleModal()") Create Project/Template
    .col-sm-2
  .row(style="padding-top: 15px;")
    .col-sm-12
      .panel.panel-default(style="background-color: rgb(20,20,20);")
        .panel-heading(style="background-color: #45484d;")
          h3.panel-title(style="display:inline-block;color:#6ABED8;") 
            | Active Projects (Click to open)
          .btn-group(style="padding-left:65%; font-size:35px")
            button.btn.btn-default(type='button' ng-click="sortProjectList = !sortProjectList")
              span.glyphicon.glyphicon-th(aria-hidden='true')
            button.btn.btn-default(type='button' ng-click="sortProjectList = !sortProjectList")
              span.glyphicon.glyphicon-th-list(aria-hidden='true')

        .panel-body(style="background-color: rgba(125,125,125,0.2); color:white;")
            .row
              .col-sm-3(ng-repeat="project in projects" ng-if="sortProjectList")
                .box-wrapper(style="margin: 25px auto;" ng-click="openModal(project)")
                  .project-thing(style="background-color: rgb(45,115,160); -webkit-border-radius: 10px;")
                    ul(style="list-style-type:none; padding:5px;")
                      li
                        p <b><i>Project Name:</i></b> {{project.name}}
                        p <b><i>Description:</i></b> {{project.description}}
                        p <b><i>Due Date:</i></b> {{project.setup.dueDate.actual | date:'mediusmate'}}     
              .col-sm-12(style="padding: 0;")
                .list-group
                  a.list-group-item(ng-repeat='project in projects' ng-if="!sortProjectList" ng-click="openModal(project)")
                    .row
                      .col-xs-4
                        | {{project.name}} 
                      .col-xs-4
                        | {{project.description}} 
                      .col-xs-3.col-sm-offset-1.text-center
                        | {{project.setup.dueDate.actual | date:'mediumDate'}} 
  .row(style="padding-top: 15px;")
    .col-sm-12
      .panel.panel-default(style="background-color: rgb(20,20,20);")
        .panel-heading(style="background-color: #45484d;")
          h3.panel-title(style="display:inline-block;color:#6ABED8;") 
            | Scheduled Templates (Click to open)
          .btn-group(style="padding-left:65%; font-size:35px")
            button.btn.btn-default(type='button' ng-click="sortProjectList = !sortProjectList")
              span.glyphicon.glyphicon-th(aria-hidden='true')
            button.btn.btn-default(type='button' ng-click="sortProjectList = !sortProjectList")
              span.glyphicon.glyphicon-th-list(aria-hidden='true')

        .panel-body(style="background-color: rgba(125,125,125,0.2); color:white;")
            .row
              .col-sm-3(ng-repeat="template in templates | filter:{setup:{frequency:'By Date'}}" ng-if="sortProjectList")
                .box-wrapper(style="margin: 25px auto;" ng-click="openModal(template)")
                  .project-thing(style="background-color: rgb(45,115,160); -webkit-border-radius: 10px;")
                    ul(style="list-style-type:none; padding:5px;")
                      li
                        p <b><i>Template Name:</i></b> {{template.name}}
                        p <b><i>Description:</i></b> {{template.description}}
              .col-sm-12(style="padding: 0;")
                .list-group
                  a.list-group-item(ng-repeat="template in templates | filter:{setup:{frequency:'By Date'}}" ng-if="!sortProjectList" ng-click="openModal(template)")
                    .row
                      .col-xs-4
                        | {{template.name}} 
                      .col-xs-4
                        | {{template.description}} 
                      .col-xs-3.col-sm-offset-1.text-center
                        
  .row(style="padding-top: 15px;")
    .col-sm-12
      .panel.panel-default(style="background-color: rgb(20,20,20);")
        .panel-heading(style="background-color: #45484d;")
          h3.panel-title(style="display:inline-block;color:#6ABED8;") 
            | Interval Templates (Click to open)
          .btn-group(style="padding-left:65%; font-size:35px")
            button.btn.btn-default(type='button' ng-click="sortProjectList = !sortProjectList")
              span.glyphicon.glyphicon-th(aria-hidden='true')
            button.btn.btn-default(type='button' ng-click="sortProjectList = !sortProjectList")
              span.glyphicon.glyphicon-th-list(aria-hidden='true')

        .panel-body(style="background-color: rgba(125,125,125,0.2); color:white;")
            .row
            .col-sm-3(ng-repeat="template in templates | filter:{setup:{frequency:'By Interval'}}" ng-if="sortProjectList")
              .box-wrapper(style="margin: 25px auto;" ng-click="openModal(template)")
                .project-thing(style="background-color: rgb(45,115,160); -webkit-border-radius: 10px;")
                  ul(style="list-style-type:none; padding:5px;")
                    li
                      p <b><i>Template Name:</i></b> {{template.name}}
                      p <b><i>Description:</i></b> {{template.description}}
            .col-sm-12(style="padding: 0;")
              .list-group
                a.list-group-item(ng-repeat="template in templates | filter:{setup:{frequency:'By Interval'}}" ng-if="!sortProjectList" ng-click="openModal(template)")
                  .row
                    .col-xs-4
                      | {{template.name}} 
                    .col-xs-4
                      | {{template.description}} 
                    .col-xs-3.col-sm-offset-1.text-center
