.container
  .row.text-center(style="padding-top: 20px;")
    .col-md-4.text-right
      h3(style="margin-top:5px;") Create New: 
    .col-md-6.text-left
      button.btn.btn-primary(type="button" ng-click="openSingleModal()") Single Instance Project
      button.btn.btn-default(type="button" ng-click="openScheduleModal()") Scheduled Project
      button.btn.btn-default(type="button" ng-click="openTemplateModal()") Create Template
    .col-md-2
  .row
    .col-sm-12.text-center
      h2 Active Projects
  .row
    .col-md-3(ng-repeat="project in projects")
      .box-wrapper(style="margin: 25px auto;" ng-click="openModal(project)")
        .project-thing
          ul(style="list-style-type:none; padding:5px;")
            li
              p <b><i>Project Name:</i></b> {{project.name}}
              p <b><i>Description:</i></b> {{project.description}}
              p <b><i>Due Date:</i></b> {{project.setup.dueDate.actual | date:'mediumDate'}}     
  
