.container(style="padding-top: 20px;")
  .row
    .col-md-8
      form
        .form-group
          label(for="addProjectField")
            | Project Name:  
          input.form-control(type="text" ng-model="name" id="addProjectField")
        .form-group
          label(for="descriptionField")
            | Description:  
          input.form-control(type="text" ng-model="description" id="descriptionField") 
        button.btn.btn-success(type="button" ng-click="saveProject()") Create and Add Tasks
