.container
  .row.topmenu
    .col-sm-12.text-center
      h1 Projects
  .row
    .col-sm-12
      hr
  .row
    .col-md-4
      .box-wrapper(style="margin: 25px auto;")
        .project-thing
    .col-md-4
      .box-wrapper(style="margin: 25px auto;")
        .project-thing
    .col-md-4
      .box-wrapper(style="margin: 25px auto;")
        .project-thing        
  
