.container(style="padding-top: 20px;")
  .row
    .col-sm-8
      form
        .form-group
          label(for="addProjectField")
            | Project Name:  
          input.form-control(type="text" ng-model="newTemplate.name" id="addProjectField")
        //.form-group
          //label(for="descriptionField")
            //| Description:  
          //input.form-control(type="text" ng-model="description" id="descriptionField") 
        button.btn.btn-success(type="button" ng-click="addTemplate(newTemplate)") Create and Add Tasks
