.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse.collapse
    ul#side-menu.nav.in
      li
        a(ui-sref='dashboard.home')
          |  Dashboard
      li(ui-sref='dashboard.view-projects')
        a(href='', ng-click='check(1)')
          |  Projects
      li(ui-sref-active='active')
        a(ui-sref='dashboard.activity')
          |  Activity
      li(ui-sref='dashboard.view-employees')
        a(href='', ng-click='check(2)')
          |  Employee
      li
        a(ui-sref='dashboard.company-details')
          |  Company Details
