.sidebar(role='navigation' style="height: 100%")
  .sidebar-nav.navbar-collapse.collapse
    ul#side-menu.nav.in
      li
        span.glyphicon.glyphicon-blackboard
        a(ui-sref='dashboard.home')
          |  Dashboard
      li
        span.glyphicon.glyphicon-duplicate
        a(ui-sref='dashboard.view-projects')
          |  Projects
      li
        span.glyphicon.glyphicon-stats
        a(ui-sref='dashboard.activity')
          |  Activity
      li
        span.glyphicon.glyphicon-briefcase
        a(ui-sref='dashboard.company-details')
          |  Company Details
