.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse.collapse
    ul#side-menu.nav.in
      li
        a(ui-sref='dashboard.home')
          |  Dashboard
      li
        a(ui-sref='dashboard.view-projects')
          |  Projects
      li
        a(ui-sref='dashboard.activity')
          |  Activity
      li
        a(ui-sref='dashboard.company-details')
          |  Company Details
