.sidebar(role='navigation' style="height: 100%")
  .sidebar-nav.navbar-collapse.collapse
    ul#side-menu.nav.in
      li.pointer-cursor(ui-sref='dashboard.home')
        span.glyphicon.glyphicon-blackboard
        a
          |  Dashboard
      li.pointer-cursor(ui-sref='dashboard.view-projects')
        span.glyphicon.glyphicon-duplicate
        a
          |  Projects
      li.pointer-cursor(ui-sref='dashboard.activity')
        span.glyphicon.glyphicon-stats
        a
          |  Activity
      li.pointer-cursor(ui-sref='dashboard.company-details')
        span.glyphicon.glyphicon-briefcase
        a
          |  Company Details
