.containter
  .row
    .col-sm-10.text-center
      #menu-directive
        .btn-group
          label.btn.btn-success.mnbtn(ng-model="radioModel" uib-btn-radio="'Left'" uncheckable)
            | Dashboard
          label.btn.btn-success.mnbtn(ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable)
            | Projects
          label.btn.btn-success.mnbtn(ng-model="radioModel" uib-btn-radio="'Right'" uncheckable)
            | Team
    .col-sm-2.text-center
      span.hamburger.glyphicon.glyphicon-menu-hamburger
