.container(style="padding-top: 20px;")
  .row
    .col-md-12.text-center
      h1 Your Team
  .row
    .col-sm-12
      button.btn.btn-primary.btn-lg(ng-click="openAddEmployeeModal()") Add new employee
