.container(style="padding-top: 20px;")
  .row
    .col-md-12.text-center(style="padding-bottom:10px;")
      h1 Add employee form
  .row
    .col-md-4.col-md-offset-4
      form
        .form-group
          label(for="EmployeeFirstNameField")
            | First Name:  
          input.form-control(type="text" ng-model="firstName" id="EmployeeFirstNameField")
        .form-group
          label(for="EmployeeLastNameField")
            | Last Name:  
          input.form-control(type="text" ng-model="lastName" id="EmployeeLastNameField")
        .form-group
          label(for="EmployeeUsernameField")
            | Email:  
          input.form-control(type="email" ng-model="username" id="EmployeeUsernameField")
        .form-group
          label(for="EmployeeEmailField")
            | Email:  
          input.form-control(type="email" ng-model="email" id="EmployeeEmailField")
        .form-group
          label(for="permissionsField")
            | Admin:  
          select.form-control(ng-model="admin" id="permissionsField")
            option(value="true")
              | Yes
            option(value="false")
              | No
        .form-group
          label(for="DepartmentsField")
            | Department:  
        .form-group
          label(for="PositionsField")
            | Position:  
